body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Styling the MTTD data summary */
.ttd-summaries {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.ttd-summary {
    flex: 1 1 32%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.ttd-summary h2 {
    margin-top: 0;
    font-size: 1.2em;
    color: #4CAF50;
}

.ttd-summary p {
    margin: 5px 0;
    font-size: 1.1em;
    color: #333;
}

#mean-ttd-14, #p75-ttd-14, #p90-ttd-14,
#mean-ttd-30, #p75-ttd-30, #p90-ttd-30,
#mean-ttd-60, #p75-ttd-60, #p90-ttd-60 {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #4CAF50;
    color: white;
}

.pagination button.active {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
    font-weight: bold;
}

/* Styling the description box */
.description-box {
    margin-bottom: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.description-toggle {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
}

.description-content {
    display: none;
    padding: 10px;
}

.description-content p {
    margin: 0;
}

/* Hide the 2 months data summary */
.hide-ttd-summary {
    display: none;
}